.App {
  overflow: hidden;
}

.max_width {
  width: min(1400px, 100% - 30px);
  margin-inline: auto;
}

.header {
  .max_width {
    display: flex;
    justify-content: space-between;
  }
}

.container {
  padding: 10px;
  flex: 1;
  margin: auto;
  min-height: calc(100vh - (64px + 180px));
}

.play_box {
  width: 450px;
  height: 80vh;
  margin: 20px auto;
  @media (max-width: 960px) {
    width: 100%;
    height: calc(100vh - 90px);
  }
}

footer {
  padding: 20px;
  height: 180px;
  background-color: #111;
  color: #ffffff;
  ul li {
    padding: 10px;
  }
}

.forward-enter,
.forward-exit,
.back-enter,
.back-exit {
  position: absolute !important;
  top: 0;
  width: 100%;
}
